.title__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title__formInput{
    width: 100%;
    margin-bottom: 34px;
}
.title__formLabel{
    align-self: flex-start;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}
.title__formInputText{
    width: 100%;
    min-height: 200px;
}